*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.container{
    width: 100%;
    height: 100vh;
    background: #fbe9e7;
    align-items: center;
    display: flex;
    justify-content: center;
}
.card__main{
    position: relative;
    width: 300px;
    height: 400px;
    background: #fff;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25);
    transition: all 0.5s linear;
   
}
.img__box{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transform-origin: left;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
    box-shadow: 10px 20px 40px rgba(0,0,0,0.25);

    background-color: #000 !important;
   
}
.img__box img{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    backface-visibility: hidden;
   

}
.card__main:hover .img__box{
    transform: rotateY(-180deg);
}
.img__box img:nth-child(2){
    transform: rotateY(180deg);
}
.card__main:hover{
    transform: translateX(50%);
}   
.card__details{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    text-align: center;
    
}
.card__content{
    margin-bottom: 20px;
}
.card__content h2{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}
.card__content span{
    font-size: 22px;
    color: #f24e86;
    font-weight: 600;
    letter-spacing: 1px;
}
.card__icon a ion-icon{
   font-size: 20px;
}
.card__icon a{
    width: 35px;
    height: 35px;
    margin:  0 10px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.card__icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.card__icon a:hover{
    background-color: #f24e86;
}